@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pause {
    animation-play-state: paused;
  }
  .custom-scroll::-webkit-scrollbar {
    width: 10px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    @apply bg-slate-50;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-slate-200;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }  
  .fix-scroll {
    overflow-y: hidden!important;
  }
  .layer {
    @apply container lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }
}
